<div class="horizontal-scroll-container">
  <div [hidden]="buttonLeft">
    <button mat-icon-button class="scroll-button left" 
    (click)="scrollList('left')"
    >
      <mat-icon>chevron_left</mat-icon>
    </button>
  </div>
  <div class="scrollable-list" #scrollableList>
    <ul>
      <li *ngFor="let image of images">
        <img [src]="image" (click)="openReviewModal()" class="element" alt="Random first slide">
      </li>
    </ul>
  </div>
  <div [hidden]="buttonRight" class="right-button">
    <button mat-icon-button class="scroll-button" 
    (click)="scrollList('right')"
    >
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  
</div>
