<div class="horizontal-scroll-container">
  <a class="scroll-button" 
  (click)="scrollList('left')"
  [hidden]="buttonLeft && !scrollAvailable"
  >
    <mat-icon>chevron_left</mat-icon>
</a>
  <div class="scrollable-list" #scrollableList>
    <ul>
      <li *ngFor="let image of images">
        <img [src]="image" (click)="openReviewModal()" class="element" alt="Random first slide">
      </li>
    </ul>
  </div>
  <a mat-icon-button class="scroll-button" 
  (click)="scrollList('right')"
    [hidden]="!stateScroll"
  [disabled]="buttonRight && !scrollAvailable">
    <mat-icon>chevron_right</mat-icon>
  </a>
</div>
